body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 5px;
}

#score {
    font-size: 20px;
    margin-bottom: 10px;
}

#game-container {
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    position: relative;
    background-color: #fff;
}

#snake, #food {
    width: 20px;
    height: 20px;
    position: absolute;
}

#snake {
    background-color: #333;
}

.snake-part {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #333;
}

#food {
    background-color: red;
}
